@page
@model Serb_Diana_Proiect.Pages.Cars.DeleteModel

@{
    ViewData["Title"] = "Stergere";
}

<h1>Sterge</h1>

<h3>Esti sigur ca vrei sa stergi?</h3>
<div>
    <h4>Automobil</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Pret)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Car.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista</a>
    </form>
</div>
